* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 20%, rgba(31,9,121,1) 59%, rgba(0,212,255,1) 100%);
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
  color: white;
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

header h1 {
  font-size: 5rem;
}

header p {
  font-size: 1.4rem;
  padding-top: 8px;
}

main {
  width: 100%;
  height: 60vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/* Seccion del cuadrado */

.section-cuadrado {
  width: 100%;
  /* height: 300px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.section-cuadrado span {
  color: white;
}

.section-cuadrado h2 {
  color: white;
  padding-bottom: 12px;
}

.section-cuadrado form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-cuadrado form label {
  color: white;
  padding-bottom: 8px;
  display: flex;
  justify-content: space-between;
}

.section-cuadrado form button {
  width: 165px;
}

/* Seccion del triangulo */

.section-triangulo {
  width: 100%;
  /* height: 300px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.section-triangulo span {
  color: white;
}

.section-triangulo h2 {
  color: white;
  padding-bottom: 12px;
}

.section-triangulo form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-triangulo form label {
  color: white;
  padding-bottom: 8px;
  display: flex;
  justify-content: space-between;
}

.section-triangulo form button {
  width: 165px;
}

/* Seccion del circulo */

.section-circulo {
  width: 100%;
  /* height: 500px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.section-circulo h2 {
  color: white;
  padding-bottom: 12px;
}

.section-circulo form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-circulo form label {
  color: white;
  padding-bottom: 8px;
  display: flex;
  justify-content: space-between;
}

.section-circulo form button {
  width: 165px;
}